@import "~@ng-select/ng-select/themes/default.theme.css";

$main: #351B17;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: column;
    flex-wrap: wrap;

    button {
        background-color: $main;
        border: 1px solid $main;
        padding: 12px;
        font-size: 24px;
        border-radius: 6px;
        color: white;

        &:hover {
            background-color: darken($main, 5%);
            cursor: pointer;
        }
    }
}
.diary {
    &__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 12px;
        margin-left: -12px;
    }

    &__item {
        grid-column: span 6;
        margin: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 120px;
        text-align: center;
        border: 1px solid $main;
        border-radius: 6px;
        background-color: $main;
        color: white;

        span {
            padding: 24px;
            display: block;
        }

        .material-icons {
            cursor: pointer;
            font-size: 48px;
        }

        .heart {
            &:hover {
                color: palevioletred;
            }
        }

        .check {
            &:hover {
                color: green;
            }
        }

        .favorites {
            display: none;
        }

        &:hover {
            span {
                display: none;
            }

            .favorites {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .diary__item {
        grid-column: span 12;
    }

    header {
        button {
            margin: 1.2rem 0;
        }
    }

    .entries {
        max-width: unset !important;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    &__diary {
        padding: 2.4rem;
    }
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.angular-utc-datepicker_input{
    padding: 8px 10px !important;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.entries {
    padding: 1.2rem;
    border: 1px solid $main;
    margin: 2.4rem 0;
    border-radius: 4px;
    max-width: 70%;
}

b {
    font-weight: 800;
    margin-right: 1.2rem;
}

.fueling {
    margin: 1.2rem 0;

    &:last-child {
        margin-bottom: 0;
    }
}