<section class="content">

  <header>
    <div class="left">
      <h2>Food Diary</h2>
      <blockquote>Enter your OptaVia meals to keep track of everything!</blockquote>
    </div>
    <button (click)="openModal()">Add to Diary</button>
  </header>

  <div class="entries" *ngFor="let entries of diaryDisplay">
    <h2>{{entries.date}}</h2>
    <ul>
      <li
      class="fueling"
      *ngFor="let fueling of entries.entries; let i = index;"><b>Fueling {{i+1}}</b> {{fueling.fueling}}</li>
    </ul>
  </div>
</section>

<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <div class="modal__diary">
      <h2>Add Fuelings</h2>

      <h3>Date</h3>
      <utc-datepicker [date]="myDate" format="MM/DD/YYYY" (dateChange)="onDateChange($event)" placeholder="meep"></utc-datepicker>


      <div *ngFor="let fueling of fuelingNum; let i = index;">
        <h3>Fueling {{i + 1}}</h3>

        <ng-select *ngIf="foodList"
            [items]="foodList.items"
            bindLabel="item_name"
            (change)="addFueling($event, i)">
        </ng-select>
      </div>

    </div>

  </div>

</div>